<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    
    <meta name="referrer" content="no-referrer-when-downgrade">
    
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); </script>
    
    
        <link rel="shortcut icon" href="/images/favicon.ico">
    
     
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.30/dist/vuetify.min.css" rel="stylesheet">
    
<link rel="stylesheet" href="/kabala/css/main.css">

    
    







    
    
    
        <script>
  if (typeof MathJax === 'undefined') {
    window.MathJax = {
      loader: {
        
            load: ['[tex]/mhchem'],
        
        source: {
          '[tex]/amsCd': '[tex]/amscd',
          '[tex]/AMScd': '[tex]/amscd'
        }
      },
      tex: {
        inlineMath: {'[+]': [['$', '$']]},
        
            packages: {'[+]': ['mhchem']},
        
        tags: 'ams'
      },
      options: {
        renderActions: {
          findScript: [10, doc => {
            document.querySelectorAll('script[type^="math/tex"]').forEach(node => {
              const display = !!node.type.match(/; *mode=display/);
              const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              const text = document.createTextNode('');
              node.parentNode.replaceChild(text, node);
              math.start = {node: text, delim: '', n: 0};
              math.end = {node: text, delim: '', n: 0};
              doc.math.push(math);
            });
          }, '', false],
          insertedScript: [200, () => {
            document.querySelectorAll('mjx-container').forEach(node => {
              let target = node.parentNode;
              if (target.nodeName.toLowerCase() === 'li') {
                target.parentNode.classList.add('has-jax');
              }
            });
          }, '', false]
        }
      }
    };
    (function () {
      var script = document.createElement('script');
      script.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js';
      script.defer = true;
      document.head.appendChild(script);
    })();
  } else {
    MathJax.startup.document.state(0);
    MathJax.texReset();
    MathJax.typeset();
  }
</script>
          

    
    
    
    
    <title>
          
            圣经|Bible|妥拉|תּוֹרָה‎
        
    </title>
    
    
<meta name="generator" content="Hexo 5.3.0"></head>
<body>
    <div id="app">
        <v-app>
            <v-content id="page">
                <v-container fluid>
                    <v-row>
                        <v-col cols="2" class="d-none d-md-block">
                            <div id="sidebar" class="float-right">
    <a href="/kabala/" rel="home">
        <v-avatar size=96>
            <img id="logo" src="/images/avatar.webp">     
        </v-avatar> 
    </a>
    <v-divider></v-divider>
    <div class="mini-menu">
        <v-btn icon href="/kabala/">
            <v-icon>home</v-icon>
        </v-btn>
        <v-btn icon href="/kabala/categories/">
            <v-icon>folder</v-icon>
        </v-btn>
        <v-btn icon href="/kabala/tags/">
            <v-icon>bookmark</v-icon>
        </v-btn>
        <v-btn icon @click="SetNightMode">
            <v-icon>{{ nightMode }}</v-icon>
        </v-btn>
    </div>
    <v-list id="main-menu" class="font-weight-bold" flat>
        
            
            <v-list-item href="/kabala/archives/" link>
            <v-list-item-icon><v-icon>archive</v-icon></v-list-item-icon>
            <v-list-item-content>
                Archives
            </v-list-item-content>
            </v-list-item>
        
            
            <v-list-item href="/kabala/about/" link>
            <v-list-item-icon><v-icon>account_circle</v-icon></v-list-item-icon>
            <v-list-item-content>
                About
            </v-list-item-content>
            </v-list-item>
        
            
            <v-list-item href="https://4593645.github.io/kabala/" link>
            <v-list-item-icon><v-icon>rss_feed</v-icon></v-list-item-icon>
            <v-list-item-content>
                我的博客
            </v-list-item-content>
            </v-list-item>
        
    </v-list>
    <v-divider></v-divider>
    
        <v-list id="sub-menu" class="font-weight-medium" dense>
            
        </v-list>    
    

    <div id="footer">
        <div class="footer-social">
            
                
                <v-btn icon href="mailto:kb1000fx@gmail.com" target="_blank">
                    <v-icon>fas fa-envelope</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://github.com/kb1000fx" target="_blank">
                    <v-icon>fab fa-github</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://steamcommunity.com/profiles/76561198346798163" target="_blank">
                    <v-icon>fab fa-steam</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://weibo.com/kb1000fx" target="_blank">
                    <v-icon>fab fa-weibo</v-icon>
                </v-btn>
            
        </div>
        <v-divider></v-divider>
        <div class="footer-content">
            
                <span id="busuanzi_container_site_uv" style="display: none;"> 
                    Total Visitors <span id="busuanzi_value_site_uv"></span>
                </span>
                <br>
            
            <span>Theme: <a href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a></span><br>
            <span>Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
            <span>
                &copy; 2015 - 2021 
                李志峰
            </span>
        </div>
    </div>
</div>

                        </v-col>
                        <v-col cols="12" md="10">
                            <v-row>
  <v-col cols="12" md="8" align-self="end">
    <div id="site-header">
      <div id="site-title">
        <a href="/kabala/" rel="home">圣经|Bible|妥拉|תּוֹרָה‎</a>
      </div>
      <div id="site-description">卡巴拉</div>
      <div id="mobile-menu" class="d-block d-md-none">
        <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-inner-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,false)"></v-text-field>
        <div class="mobile-mini-menu">
          <v-btn icon href="/">
              <v-icon>home</v-icon>
          </v-btn>
          <v-btn icon href="/categories/">
              <v-icon>folder</v-icon>
          </v-btn>
          <v-btn icon href="/tags/">
              <v-icon>bookmark</v-icon>
          </v-btn>
          <v-btn icon @click="SetNightMode">
              <v-icon>{{ nightMode }}</v-icon>
          </v-btn>
          
            
            <v-btn icon href="/kabala/archives/">
              <v-icon>archive</v-icon>
            </v-btn>
          
            
            <v-btn icon href="/kabala/about/">
              <v-icon>account_circle</v-icon>
            </v-btn>
          
            
            <v-btn icon href="https://4593645.github.io/kabala/">
              <v-icon>rss_feed</v-icon>
            </v-btn>
          
        </div>
      </div>    
    </div>
  </v-col>  
  <v-col cols="4" align-self="end" class="d-none d-md-block">
    <v-col align-self="end">
      <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,false)"></v-text-field>
    </v-col> 
  </v-col>
</v-row>

                            <v-card class="elevation-2 index-card">
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-02-01
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /kabala/tags/%E5%AD%97%E6%AF%8D/ >字母</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /kabala/tags/%E5%B8%8C%E4%BC%AF%E6%9D%A5%E6%96%87/ >希伯来文</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /kabala/tags/%E5%A5%A5%E7%A7%98/ >奥秘</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/kabala/2021/02/01/zimu/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/kabala/2021/02/01/zimu/">希伯来文22个字母的奥秘</a>
      </div>
      
      <div class="index-article-content">
        
          前言1234人类拥有23对不同的染色体，其中22对属于常染色体，另外还有1对能够决定性别的性染色体，  分别是X染色体与Y染色体。23是“生命” - khaya  חַיָּה的数字，22是希伯来字母的字母数目。
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/kabala/2021/02/01/zimu/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-01-29
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /kabala/tags/%E6%B3%95%E8%80%81%E9%A2%88%E9%A1%B9%E4%B8%8E%E5%98%B4%E5%B7%B4/ >法老颈项与嘴巴</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /kabala/tags/%E5%8D%A1%E5%B7%B4%E6%8B%89/ >卡巴拉</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /kabala/tags/%E5%87%BA%E5%9F%83%E5%8F%8A%E8%AE%B0/ >出埃及记</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /kabala/tags/%E5%8D%81%E7%81%BE/ >十灾</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /kabala/tags/%E5%8F%A3%E6%8E%88%E6%89%98%E6%8B%89/ >口授托拉</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/kabala/2021/01/29/Exodus/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/kabala/2021/01/29/Exodus/">出埃及记</a>
      </div>
      
      <div class="index-article-content">
        
          学习本章必须具备的知识12345希伯来语是右往左排列和书写，二十二个辅音字母，五个词尾形式。1.每个字母有个形态。2.每个字母有个名字（读音）。3.每个字母有个数字。（1-9）（10-90）（100-900）4.有五个词尾形式。
拉比解经1高层知识对应嘴（言语），底层知识对应性器官（割礼）。摩西那代人的缺陷是知识。
埃及流亡与高层知识的修补。
123451.法老 - paro פרעה2.颈项 - haoref  הַעֹרֶף （重组）3.恶嘴巴 - pe roa  פֶּה רָע  （重组）在解剖学里，“知识”对应小脑，连接两个大脑；在生命树对应关系里，“知识”在前面对应嘴，后面对...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/kabala/2021/01/29/Exodus/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-01-26
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/kabala/2021/01/26/hello-world/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/kabala/2021/01/26/hello-world/">卡巴拉学习博客</a>
      </div>
      
      <div class="index-article-content">
        
          感谢神按照祂的旨意带领敬虔人可以进入神的奥秘中吃那 עץ החיים（生命树 - ets hakhayim ）的果子，一切荣耀都归给我们的主，万王之王的弥赛亚拿撒勒人耶稣基督 אמן（阿门 - amen）
快速入门构建妥拉架构1妥拉 - Torah תּוֹרָה‎  狭义为圣经摩西五经，范指跟神的话有关的学习。词语意思是教导与指引。
维基百科: 妥拉
入门注意事项1圣经或者基督信仰基础不坚固者请自行斟酌或者离开，不愿谨守诫命或者不尊神者请立即离开，以免害己和祸及家人。
More info: Server
卡巴拉学习与奥秘解经12自从学习了一些圣经知识后，一直祈祷主有更好的带领，恰逢在2...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/kabala/2021/01/26/hello-world/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
   
</v-card>  

         
                            <div id="mobile-footer" class="d-block d-md-none">
                                <v-divider></v-divider>
                                <div id="mobile-footer-content">
                                    <span>Theme: <a href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a> &nbsp; Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
                                    <span> &copy; 2015 - 2021 李志峰</span>
                                </div>
                            </div>                   
                        </v-col>                                            
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.2.30"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.5.2/base64.min.js"></script>

<script src="/kabala/js/main.js"></script>




    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>








</body>
</html>